<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.let.service.impl.mapper.MaplePartyScheduleMapper">
    <insert id="insertMapleParytSchedule"
            parameterType="com.let.domain.MapleParytScheduleVO"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">

        INSERT INTO maple_boss_paryt (
        paryt_time,
        paryt_date,
        created_at,
        use_at
        )
        VALUES (
        #{time},
        #{date},
        CURRENT_TIMESTAMP,
        'Y'
        )
    </insert>
    <select id="" parameterType="com.let.domain.MapleParytScheduleVO" resultType="com.let.domain.MapleParytScheduleVO">
        SELECT
            id,
            boss_time,
            boss_date,
            use_at
        from
            maple_boss_paryt
        where
            id = #{id}
    </select>
</mapper>