<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.let.service.impl.mapper.MaplePartyScheduleMapper">
    <insert id="insertMapleParytSchedule"
            parameterType="com.let.domain.MapleParytScheduleVO"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">

        INSERT INTO maple_boss_party (
        paryt_title,
        channel_id,
        paryt_time,
        paryt_date,
        created_at,
        use_at
        )
        VALUES (
        #{title},
        #{channelId},
        #{time},
        #{date},
        CURRENT_TIMESTAMP,
        'Y'
        )
    </insert>

    <insert id="insertPartyMemberList" parameterType="com.let.domain.MapleparytMemberVO">
        INSERT INTO maple_party_member (party_id, discord_user_id)
        VALUES
        <foreach collection="members" item="member" separator=",">
            (#{partyId}, #{member.id})
        </foreach>
    </insert>

    <select id="selectPartySchedule" parameterType="com.let.domain.MapleParytScheduleVO" resultType="com.let.domain.MapleParytScheduleVO">
        SELECT
            id,
            paryt_title as title,
            channel_id as channelId,
            paryt_time as time,
            paryt_date as date,
            use_at as useAt
        from
            maple_boss_party
        where
            id = #{id}
    </select>
</mapper>